.mainHeading{
    margin: bottom 10%;
    color:rgb(75, 59, 59);
    width:100pc;
    text-align:center;
    background-Color: "cyan"
    
    
}
.Pimage{
    width: 30pc;
    height: 40pc;
}
.header{
    width: 100pc;
}